<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="http://localhost:8080/res/bootstrap-native.min.js" type="text/javascript"></script>
        <script src="http://localhost:8080/res/vue.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/res/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/res/styles.css">

        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?php echo $this->getApp()->getName() ;?></title>
    </head>
    <body>
        <div id="content">
            <h1><?php echo $this->getApp()->render(); ?></h1>
        </div>
        <footer>
        </footer>
    </body>
</html>
