<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="/static/js/bootstrap-native.min.js" type="text/javascript"></script>
        <script src="/static/js/vue.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?php echo $this->getApp()->getName() ;?></title>
    </head>
    <body>

    <div class="masthead">
            <div class="container">
                <h1><?php echo $this->getApp()->render(); ?></h1>
            </div>
        </div>
        <div id="app" class="container">
            <header>
            </header>
            <div id="main_content">
                <div class="alert alert-danger" role="alert">
                    <p>Not all browsers are currently supported, there may be some issues displaying certain notation.</p>
                </div>
            </div>
        </div>
    </body>
</html>
